[package]
name = "solwanna"
version = "1.0.0"
edition = "2021"

[features]
no-entrypoint = []

[dependencies]
borsh = "1.5.7"
borsh-derive = "1.5.7"
solana-program = "3.0"
solana-system-interface = { version = "3.0", features = ["bincode"] }

[lib]
crate-type = ["cdylib", "lib"]
