version: '3.7'

services:
  app:
    build: ./
    volumes:
      - ./:/usr/src/app
    ports:
      - 5000:5000
    environment:
      - PORT=5000
      - FLAG=HCMUS-CTF{LmaoLmao}
    restart: unless-stopped
    